.btn{
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.container {
    display: flex;
}

.item {
    margin-right: 10px;
}